body {
    font-size: 1.2em;
}

#app {
    width: 90%;
    margin: auto;
}

.grid {
    display: grid;
    width: 900px;
    height: 2300px;
    margin: auto;
    grid-template: repeat(23, 1fr) / repeat(12, 1fr);
}

img {
    max-width: 100%;
    max-height: 100%;
}


/* set 1: repurposed living */

.a {
    grid-area: 1 / 3 / 5 / 13;
}

.b {
    grid-area: 2 / 1 / 3 / 6;
}

.c {
    grid-area: 3 / 1 / 4 / 4;
}


/* set 2: angles */

.d {
    grid-area: 5 / 1 / 10 / 13;
}

.e {
    grid-area: 6 / 5 / 7 / 12;
}

.f {
    grid-area: 7 / 8 / 8 / 11;
}


/* set 3: pattern play */

.g {
    min-height: 100%;
    grid-area: 10 / 2 / 15 / 13;
}

.h {
    grid-area: 11 / 1 / 13 / 6;
}

.i {
    grid-area: 12 / 1 / 14 / 4;
}


/* set 4: healing house */

.j {
    grid-area: 15 / 1 / 20 / 13;
}

.k {
    grid-area: 16 / 6 / 17 / 12;
}

.l {
    grid-area: 17 / 8 / 18 / 11;
}


/* set 5: curved perfection */

.m {
    grid-area: 20 / 4 / 25 / 13;
}

.n {
    grid-area: 21 / 1 / 22 / 6;
}

.o {
    grid-area: 22 / 1 / 23 / 4;
}

.headLine {
    margin-top: 5vh;
    height: 20vh;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 120%;
    margin-bottom: 10vh;
}

.box {
    font-family: 'Roboto Slab', serif;
    font-size: 90%;
}

.title {
    font-weight: 700;
    font-size: 180%;
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
}


/* media queries */

@media (min-width: 1150px) {
    #app {
        width: 80%;
        margin: auto;
    }
}

@media (max-width: 600px) {
    .grid {
        grid-template: repeat(25, 1fr) / repeat(4, 1fr);
    }
    .title {
        width: 65%;
        font-size: 120%;
    }
    /* set 1: repurposed living */
    .a {
        grid-area: 1 / 1 / 4 / 5;
    }
    .b {
        grid-area: 1 / 1 / 2 / 5;
    }
    .c {
        grid-area: 4 / 1 / 5 / 5;
    }
    /* set 2: angles */
    .d {
        grid-area: 5 / 1 / 9 / 5;
    }
    .e {
        grid-area: 5 / 1 / 6 / 5;
    }
    .f {
        grid-area: 9 / 1 / 10 / 3;
    }
    /* set 3: pattern play */
    .g {
        grid-area: 10 / 1 / 14 / 5;
    }
    .h {
        grid-area: 10 / 1 / 11 / 5;
    }
    .i {
        grid-area: 14 / 1 / 15 / 3;
    }
    /* set 4: healing house */
    .j {
        grid-area: 15 / 1 / 19 / 5;
    }
    .k {
        grid-area: 15 / 1 / 16 / 5;
    }
    .l {
        grid-area: 19 / 1 / 20 / 3;
    }
    /* set 5: curved perfection */
    .m {
        grid-area: 20 / 1 / 24 / 5;
    }
    .n {
        grid-area: 20 / 1 / 21 / 5;
    }
    .o {
        grid-area: 24 / 1 / 25 / 5;
    }
}